<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [color]="color">
    <ion-title>Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="front-container">
        <ion-grid>
          <ion-row>
            <ion-col col-12 *ngFor="let front of frontParts;" class="location" (click)="next(front)">
              <img [src]="front.img" class="part" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-6 class="back-container">
        <ion-grid>
          <ion-row>
            <ion-col col-12 *ngFor="let back of backParts;" class="location" (click)="next(back)">
              <img [src]="back.img" class="part" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>